:root[data-theme="catppuccin"] {
	--background: 220 23% 95%;
	--foreground: 234 16% 35%;
	--card: 220 23% 95%;
	--card-foreground: 234 16% 35%;
	--popover: 220 23% 95%;
	--popover-foreground: 234 16% 35%;
	--primary: 234 16% 35%;
	--primary-foreground: 220 23% 95%;
	--secondary: 220 21% 89%;
	--secondary-foreground: 234 16% 35%;
	--muted: 220 21% 89%;
	--muted-foreground: 234 13% 55%;
	--accent: 220 21% 89%;
	--accent-foreground: 234 16% 35%;
	--destructive: 0 84% 60%;
	--destructive-foreground: 220 23% 95%;
	--border: 220 21% 89%;
	--input: 220 21% 89%;
	--ring: 234 16% 35%;
	--radius: 0.5rem;
	--success: 158 64% 52%;
	--success-foreground: 220 23% 95%;
	--chart-1: 207 85% 77%;
	--chart-2: 318 74% 79%;
	--chart-3: 28 87% 79%;
	--chart-4: 266 83% 82%;
	--chart-5: 158 64% 72%;

	--shiki-foreground: #4c4f69;
	--shiki-background: transparent;
	--shiki-token-constant: #7287fd;
	--shiki-token-string: #40a02b;
	--shiki-token-comment: #8c8fa1;
	--shiki-token-keyword: #d20f39;
	--shiki-token-parameter: #fe640b;
	--shiki-token-function: #1e66f5;
	--shiki-token-string-expression: #40a02b;
	--shiki-token-punctuation: #4c4f69;
	--shiki-token-link: #40a02b;

	/* ANSI colors */
	--shiki-ansi-black: #5c5f77;
	--shiki-ansi-black-dim: #5c5f7780;
	--shiki-ansi-red: #d20f39;
	--shiki-ansi-red-dim: #d20f3980;
	--shiki-ansi-green: #40a02b;
	--shiki-ansi-green-dim: #40a02b80;
	--shiki-ansi-yellow: #df8e1d;
	--shiki-ansi-yellow-dim: #df8e1d80;
	--shiki-ansi-blue: #1e66f5;
	--shiki-ansi-blue-dim: #1e66f580;
	--shiki-ansi-magenta: #ea76cb;
	--shiki-ansi-magenta-dim: #ea76cb80;
	--shiki-ansi-cyan: #179299;
	--shiki-ansi-cyan-dim: #17929980;
	--shiki-ansi-white: #acb0be;
	--shiki-ansi-white-dim: #acb0be80;
	--shiki-ansi-bright-black: #6c6f85;
	--shiki-ansi-bright-black-dim: #6c6f8580;
	--shiki-ansi-bright-red: #d20f39;
	--shiki-ansi-bright-red-dim: #d20f3980;
	--shiki-ansi-bright-green: #40a02b;
	--shiki-ansi-bright-green-dim: #40a02b80;
	--shiki-ansi-bright-yellow: #df8e1d;
	--shiki-ansi-bright-yellow-dim: #df8e1d80;
	--shiki-ansi-bright-blue: #1e66f5;
	--shiki-ansi-bright-blue-dim: #1e66f580;
	--shiki-ansi-bright-magenta: #ea76cb;
	--shiki-ansi-bright-magenta-dim: #ea76cb80;
	--shiki-ansi-bright-cyan: #179299;
	--shiki-ansi-bright-cyan-dim: #17929980;
	--shiki-ansi-bright-white: #bcc0cc;
	--shiki-ansi-bright-white-dim: #bcc0cc80;
}

.dark[data-theme="catppuccin"] {
	--background: 234 16% 35%;
	--foreground: 226 64% 88%;
	--card: 234 16% 35%;
	--card-foreground: 226 64% 88%;
	--popover: 234 16% 35%;
	--popover-foreground: 226 64% 88%;
	--primary: 226 64% 88%;
	--primary-foreground: 234 16% 35%;
	--secondary: 233 16% 41%;
	--secondary-foreground: 226 64% 88%;
	--muted: 233 16% 41%;
	--muted-foreground: 228 24% 72%;
	--accent: 233 16% 41%;
	--accent-foreground: 226 64% 88%;
	--destructive: 0 84% 60%;
	--destructive-foreground: 226 64% 88%;
	--border: 233 16% 41%;
	--input: 233 16% 41%;
	--ring: 228 24% 64%;
	--success: 158 86% 42%;
	--success-foreground: 226 64% 88%;
	--chart-1: 207 85% 77%;
	--chart-2: 318 74% 79%;
	--chart-3: 28 87% 79%;
	--chart-4: 266 83% 82%;
	--chart-5: 158 64% 72%;

	--shiki-foreground: #cdd6f4;
	--shiki-background: transparent;
	--shiki-token-constant: #b4befe;
	--shiki-token-string: #a6e3a1;
	--shiki-token-comment: #6c7086;
	--shiki-token-keyword: #f38ba8;
	--shiki-token-parameter: #fab387;
	--shiki-token-function: #89b4fa;
	--shiki-token-string-expression: #a6e3a1;
	--shiki-token-punctuation: #cdd6f4;
	--shiki-token-link: #a6e3a1;

	/* ANSI colors */
	--shiki-ansi-black: #45475a;
	--shiki-ansi-black-dim: #45475a80;
	--shiki-ansi-red: #f38ba8;
	--shiki-ansi-red-dim: #f38ba880;
	--shiki-ansi-green: #a6e3a1;
	--shiki-ansi-green-dim: #a6e3a180;
	--shiki-ansi-yellow: #f9e2af;
	--shiki-ansi-yellow-dim: #f9e2af80;
	--shiki-ansi-blue: #89b4fa;
	--shiki-ansi-blue-dim: #89b4fa80;
	--shiki-ansi-magenta: #f5c2e7;
	--shiki-ansi-magenta-dim: #f5c2e780;
	--shiki-ansi-cyan: #94e2d5;
	--shiki-ansi-cyan-dim: #94e2d580;
	--shiki-ansi-white: #bac2de;
	--shiki-ansi-white-dim: #bac2de80;
	--shiki-ansi-bright-black: #585b70;
	--shiki-ansi-bright-black-dim: #585b7080;
	--shiki-ansi-bright-red: #f38ba8;
	--shiki-ansi-bright-red-dim: #f38ba880;
	--shiki-ansi-bright-green: #a6e3a1;
	--shiki-ansi-bright-green-dim: #a6e3a180;
	--shiki-ansi-bright-yellow: #f9e2af;
	--shiki-ansi-bright-yellow-dim: #f9e2af80;
	--shiki-ansi-bright-blue: #89b4fa;
	--shiki-ansi-bright-blue-dim: #89b4fa80;
	--shiki-ansi-bright-magenta: #f5c2e7;
	--shiki-ansi-bright-magenta-dim: #f5c2e780;
	--shiki-ansi-bright-cyan: #94e2d5;
	--shiki-ansi-bright-cyan-dim: #94e2d580;
	--shiki-ansi-bright-white: #a6adc8;
	--shiki-ansi-bright-white-dim: #a6adc880;
}
