@import "rehype-callouts/theme/vitepress";
@import "katex/dist/katex.min.css";
@import "./colors.css";
@import "./code.css";
@import "./typst.css";
@tailwind components;
@tailwind utilities;
@tailwind base;

.emoji {
	background: transparent;
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em !important;
	vertical-align: -0.1em;
	display: inline-block;
}

body {
	padding-left: 1rem;
	padding-right: 1rem;
	@apply bg-background text-foreground font-mono transition-colors duration-300;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: normal;
}

article {
	padding-top: 5rem;
	padding-bottom: 3rem;
	display: block;
	@apply prose-figcaption:!text-muted-foreground prose-figcaption:text-center;
}

article,
article img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

article img {
	@apply rounded-lg;
}

h1#user-content-no-anchor a.anchor,
h2#user-content-no-anchor a.anchor,
h3#user-content-no-anchor a.anchor,
h4#user-content-no-anchor a.anchor,
h5#user-content-no-anchor a.anchor,
h6#user-content-no-anchor a.anchor {
	@apply hidden;
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.remove-arrow {
	-moz-appearance: textfield;
}

[data-twemoji] {
	@apply size-[1.2em] inline-block align-text-bottom;
}

.pikchr text,
.pikchr path,
.pikchr polygon,
.pikchr polyline,
.pikchr circle,
.pikchr ellipse,
.pikchr rect,
.pikchr line {
	@apply !stroke-[--tw-prose-body] !text-base;
}

.pikchr text[fill="rgb(255,255,255)"] {
	@apply !fill-[--tw-prose-body];
}
.pikchr polygon[style="fill:rgb(255,255,255)"] {
	@apply !fill-[--tw-prose-body];
}

.pikchr-light {
	@apply dark:hidden block;
}
.pikchr-dark {
	@apply hidden dark:block;
}

body {
	@apply !transition-colors duration-300;
}

figure:hover > #copy-button {
	@apply opacity-100;
}

details {
	@apply border rounded-md border-muted py-2 px-4 bg-card/50 my-4;
}

summary {
	@apply cursor-pointer;
}
