---
import Prose from "@/layouts/Prose.astro";
import RootLayout from "@/layouts/RootLayout.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("blog");
---

<RootLayout path="/">
    <Prose>
        <a href="/">
            <h1>blog.cstef.dev</h1>
        </a>

        <p>Sometimes, I like to share my thoughts, notes, ideas or projects on this blog. Maybe you'll find something useful here !</p>
        <h2>Latest posts</h2>
        <ul>
            {posts.map((post) => (
                <li>
                    <div class="flex items-center">
                        <a href={`/blog/${post.slug}`}>
                            <h3>{post.data.title}</h3>
                        </a>
                        <p>{post.data.description}</p>
                    </div>
                </li>
            ))}
        </ul>
    </Prose>
</RootLayout>