---
import Prose from "@/layouts/Prose.astro";
import RootLayout from "@/layouts/RootLayout.astro"
import { getCollection } from "astro:content"

const posts = await getCollection("blog");
---

<RootLayout path="/">
    <Prose>
        <a href="/">
            <h1>blog.cstef.dev</h1>
        </a>
        <p>Welcome to my garden! 🌱</p>
        <p>Sometimes, I like to share my thoughts, notes, ideas or projects on this blog. Maybe you'll find something useful here !</p>
        <h2>Latest posts</h2>
        <ul>
            {posts.sort((a,b) => b.data.date.getTime() - a.data.date.getTime()).map((post) => (
                <li>
                    <div>

                        <h3 class="md:flex justify-between items-center gap-2">
                            <a href={`/blog/${post.slug}`}>{post.data.title.trim()}</a> <span class="text-sm text-muted-foreground">{post.data.date.toLocaleDateString()}</span> {post.data.state === "draft" && <span class="bg-destructive text-destructive-foreground px-2 py-1 rounded-md text-sm w-fit font-bold">Draft</span>}
                        </h3>

                        <p>{post.data.description}</p>
                    </div>
                </li>
            ))}
        </ul>
    </Prose>
</RootLayout>