---
import Prose from "@/layouts/Prose.astro";
import RootLayout from "@/layouts/RootLayout.astro"
import { getCollection } from "astro:content"

const isProd = import.meta.env.PROD;
const posts = (await getCollection("blog"))
    .filter(e => isProd ? e.data.state !== "draft" : true)
    .sort((a,b) => b.data.date.getTime() - a.data.date.getTime())

---

<RootLayout path="/">
    <Prose>
        <a href="/">
            <h1>blog.cstef.dev</h1>
        </a>
        <p>Welcome to my garden! 🌱</p>
        <p>Sometimes, I like to share my thoughts, notes, ideas or projects on this blog. Maybe you'll find something useful here !</p>
        <h2>Latest posts</h2>
        {posts.length > 0 ? <ul>
            {posts.map((post) => (
                <li>
                    <div>

                        <h3 class="flex items-center gap-2 md:gap-4">
                            <a href={`/blog/${post.slug}`} class="">{post.data.title.trim()}</a> <div class="flex-grow"/> <span class="text-sm text-muted-foreground">{post.data.date.toLocaleDateString()}</span> {post.data.state === "draft" && <span class="bg-destructive text-destructive-foreground px-2 py-1 rounded-md text-sm w-fit font-bold">Draft</span>}
                        </h3>

                        <p>{post.data.description}</p>
                    </div>
                </li>
            ))}
        </ul> : <p>No posts yet. Check back later!</p>}
    </Prose>
</RootLayout>