<div class="absolute top-2 right-2 flex gap-2" id="button-group">
    <button
        class="rounded-md stroke-muted-foreground hover:stroke-foreground transition-all duration-200 ease-in-out hover:bg-accent/50 opacity-0"
        onclick="
        const htmlDataset = document.documentElement.dataset;
        const hasWordWrap = 'wordWrap' in htmlDataset;
        if (hasWordWrap) {
            delete htmlDataset.wordWrap;
        } else {
            htmlDataset.wordWrap = '';
        }
    " id="wrap-button">
        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
            stroke-linejoin="round" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="w-9 h-9 p-2"
            id="wrap">
            <line x1="3" x2="21" y1="6" y2="6" />
            <path d="M3 12h15a3 3 0 1 1 0 6h-4" />
            <polyline points="16 16 14 18 16 20" />
            <line x1="3" x2="10" y1="18" y2="18" />
        </svg>
    </button>

    <button
        class="relative rounded-md stroke-muted-foreground hover:stroke-foreground transition-all duration-200 ease-in-out hover:bg-accent/50 opacity-0"
        onclick="
        const figure = this.closest('figure')
        // span.data-line
        const lines = figure.querySelectorAll('span[data-line]')
        const text = Array.from(lines).map((line) => line.textContent).join('\n')
        navigator.clipboard.writeText(text)
        const check = this.querySelector('#check')
        const clip = this.querySelector('#clip')
        console.log(check, clip)
        check.style.opacity = 1
        clip.style.opacity = 0
        setTimeout(() => {
            check.style.opacity = 0
            clip.style.opacity = 1
        }, 1000)
    " id="copy-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="w-9 h-9 p-2 transition-opacity duration-200 ease-in-out" id="clip">
            <rect width="8" height="4" x="8" y="2" rx="1" ry="1" />
            <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="w-9 h-9 p-2 absolute top-0 left-0 transition-opacity duration-200 ease-in-out stroke-success"
            style="opacity: 0" id="check">
            <path d="M20 6 9 17l-5-5" />
        </svg>
    </button>

</div>