{% extends "prose.html" %}
{%block title%} {{ page.title }}{%endblock%}
{% block article %}

<h1 class="italic">
    {{ page.title }}
</h1>
<p class="text-muted-foreground text-sm">
    {{ page.description }}
<p>

<div class="flex flex-row gap-4 items-center">
    <span><strong>{{ page.date | date(format="%Y-%m-%d") }}</strong></span>
    <span class="text-muted-foreground">({{ page.reading_time }} min. read)</span> -
    <span class="flex flex-row gap-2">
        {% for tax in page.taxonomies.tags %}
        <a
            href="/tags/{{ tax }}"
            class="bg-accent text-accent-foreground px-2 py-1 text-sm w-fit font-bold no-underline"
        >
            {{ tax }}
        </a>
        {% endfor %}
    </span>
</div>

{% if page.toc %}
<nav class="toc">
    <details>
        <summary>Table of Contents</summary>
        <ul>
        {% for h1 in page.toc %}
            <li>
                <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
                {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                            <li>
                                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </details>
</nav>
{% endif %}

<div class="article">
{{ page.content | safe }}
</div>

{% endblock article %}
